*.class

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.ear

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*
/xml-UI/target/
/xml-UI/conf/backend.xml
/xml-UI/src/main/resources/image/5.jpg
/xml-UI/conf/logging.properties
/xml-UI/src/main/resources/image/1.jpg
/xml-UI/src/main/resources/image/3.jpg
/xml-UI/src/main/resources/image/2.jpg
/xml-UI/mock-data/server.json
/xml-UI/conf/xml_window.xml
/xml-UI/src/main/resources/image/4.jpg
/xml-UI/.idea/.gitignore
/xml-UI/.idea/codeStyles/codeStyleConfig.xml
/.idea/compiler.xml
/xml-UI/.idea/compiler.xml
/.idea/encodings.xml
/xml-UI/.idea/encodings.xml
/.idea/jarRepositories.xml
/xml-UI/.idea/jarRepositories.xml
/.idea/jpa-buddy.xml
/.idea/libraries/Maven__antlr_antlr_2_7_7.xml
/.idea/libraries/Maven__com_fasterxml_jackson_core_jackson_annotations_2_9_0.xml
/.idea/libraries/Maven__com_fasterxml_jackson_core_jackson_core_2_9_8.xml
/.idea/libraries/Maven__com_fasterxml_jackson_core_jackson_databind_2_9_8.xml
/.idea/libraries/Maven__com_fasterxml_jackson_dataformat_jackson_dataformat_yaml_2_9_8.xml
/.idea/libraries/Maven__com_github_javaparser_javaparser_core_3_17_0.xml
/.idea/libraries/Maven__com_github_jsonj_jsonj_0_8.xml
/.idea/libraries/Maven__com_google_code_findbugs_jsr305_3_0_2.xml
/.idea/libraries/Maven__com_google_code_gson_gson_2_8_6.xml
/.idea/libraries/Maven__com_google_errorprone_error_prone_annotations_2_7_1.xml
/.idea/libraries/Maven__com_google_errorprone_error_prone_annotations_2_11_0.xml
/.idea/libraries/Maven__com_google_guava_failureaccess_1_0_1.xml
/.idea/libraries/Maven__com_google_guava_guava_31_0_1_jre.xml
/.idea/libraries/Maven__com_google_guava_guava_31_1_jre.xml
/.idea/libraries/Maven__com_google_guava_listenablefuture_9999_0_empty_to_avoid_conflict_with_guava.xml
/.idea/libraries/Maven__com_google_j2objc_j2objc_annotations_1_3.xml
/.idea/libraries/Maven__com_googlecode_json_simple_json_simple_1_1_1.xml
/.idea/libraries/Maven__com_jcraft_jsch_0_1_51.xml
/.idea/libraries/Maven__com_jgoodies_jgoodies_common_1_6_0.xml
/.idea/libraries/Maven__com_jgoodies_jgoodies_looks_2_5_3.xml
/.idea/libraries/Maven__com_squareup_okhttp3_okhttp_4_2_2.xml
/.idea/libraries/Maven__com_squareup_okio_okio_2_2_2.xml
/.idea/libraries/Maven__commons_codec_commons_codec_1_10.xml
/.idea/libraries/Maven__commons_io_commons_io_2_11_0.xml
/.idea/libraries/Maven__commons_lang_commons_lang_2_6.xml
/.idea/libraries/Maven__commons_logging_commons_logging_1_2.xml
/.idea/libraries/Maven__dom4j_dom4j_1_6_1.xml
/.idea/libraries/Maven__io_jaegertracing_jaeger_client_1_3_2.xml
/.idea/libraries/Maven__io_jaegertracing_jaeger_core_1_3_2.xml
/.idea/libraries/Maven__io_jaegertracing_jaeger_thrift_1_3_2.xml
/.idea/libraries/Maven__io_jaegertracing_jaeger_tracerresolver_1_3_2.xml
/.idea/libraries/Maven__io_netty_netty_all_4_1_42_Final.xml
/.idea/libraries/Maven__io_opentracing_contrib_opentracing_tracerresolver_0_1_8.xml
/.idea/libraries/Maven__io_opentracing_opentracing_api_0_32_0.xml
/.idea/libraries/Maven__io_opentracing_opentracing_noop_0_33_0.xml
/.idea/libraries/Maven__io_opentracing_opentracing_util_0_33_0.xml
/.idea/libraries/Maven__javax_annotation_javax_annotation_api_1_3_2.xml
/.idea/libraries/Maven__javax_media_jmf_2_1_1e.xml
/.idea/libraries/Maven__junit_junit_4_10.xml
/.idea/libraries/Maven__native_component_DJNativeSwing_SNAPSHOT.xml
/.idea/libraries/Maven__native_component_DJNativeSwing_SWT_SNAPSHOT.xml
/.idea/libraries/Maven__native_component_MozillaInterfaces_1_8_1_3_SNAPSHOT.xml
/.idea/libraries/Maven__native_component_swt_4_3_win32_win32_x86_SNAPSHOT.xml
/.idea/libraries/Maven__net_java_dev_jna_jna_3_2_3.xml
/.idea/libraries/Maven__org_antlr_antlr_runtime_3_5_2.xml
/.idea/libraries/Maven__org_antlr_ST4_4_3.xml
/.idea/libraries/Maven__org_apache_commons_commons_collections4_4_1.xml
/.idea/libraries/Maven__org_apache_derby_derby_10_10_2_0.xml
/.idea/libraries/Maven__org_apache_derby_derbyclient_10_10_2_0.xml
/.idea/libraries/Maven__org_apache_httpcomponents_httpclient_4_5_6.xml
/.idea/libraries/Maven__org_apache_httpcomponents_httpcore_4_4_1.xml
/.idea/libraries/Maven__org_apache_thrift_libthrift_0_13_0.xml
/.idea/libraries/Maven__org_aspectj_aspectjrt_1_8_2.xml
/.idea/libraries/Maven__org_aspectj_aspectjweaver_1_8_2.xml
/.idea/libraries/Maven__org_checkerframework_checker_qual_3_12_0.xml
/.idea/libraries/Maven__org_eclipse_persistence_commonj_sdo_2_1_1.xml
/.idea/libraries/Maven__org_eclipse_persistence_eclipselink_2_5_1.xml
/.idea/libraries/Maven__org_eclipse_persistence_javax_persistence_2_1_0.xml
/.idea/libraries/Maven__org_eclipse_persistence_org_eclipse_persistence_antlr_2_5_1.xml
/.idea/libraries/Maven__org_eclipse_persistence_org_eclipse_persistence_asm_2_5_1.xml
/.idea/libraries/Maven__org_eclipse_persistence_org_eclipse_persistence_core_2_5_1.xml
/.idea/libraries/Maven__org_eclipse_persistence_org_eclipse_persistence_jpa_2_5_1.xml
/.idea/libraries/Maven__org_eclipse_persistence_org_eclipse_persistence_jpa_jpql_2_5_1.xml
/.idea/libraries/Maven__org_eclipse_persistence_org_eclipse_persistence_jpa_modelgen_processor_2_5_1.xml
/.idea/libraries/Maven__org_hamcrest_hamcrest_core_1_1.xml
/.idea/libraries/Maven__org_hibernate_common_hibernate_commons_annotations_4_0_1_Final.xml
/.idea/libraries/Maven__org_hibernate_hibernate_core_4_1_8_Final.xml
/.idea/libraries/Maven__org_hibernate_hibernate_entitymanager_4_1_8_Final.xml
/.idea/libraries/Maven__org_hibernate_javax_persistence_hibernate_jpa_2_0_api_1_0_1_Final.xml
/.idea/libraries/Maven__org_hibernate_javax_persistence_hibernate_jpa_2_1_api_1_0_0_Final.xml
/.idea/libraries/Maven__org_javassist_javassist_3_15_0_GA.xml
/.idea/libraries/Maven__org_jboss_logging_jboss_logging_3_1_0_GA.xml
/.idea/libraries/Maven__org_jboss_spec_javax_transaction_jboss_transaction_api_1_1_spec_1_0_0_Final.xml
/.idea/libraries/Maven__org_jetbrains_annotations_13_0.xml
/.idea/libraries/Maven__org_jetbrains_kotlin_kotlin_stdlib_1_3_50.xml
/.idea/libraries/Maven__org_jetbrains_kotlin_kotlin_stdlib_common_1_3_50.xml
/.idea/libraries/Maven__org_ow2_asm_asm_7_2.xml
/.idea/libraries/Maven__org_ow2_asm_asm_analysis_7_2.xml
/.idea/libraries/Maven__org_ow2_asm_asm_tree_7_2.xml
/.idea/libraries/Maven__org_ow2_asm_asm_util_7_2.xml
/.idea/libraries/Maven__org_slf4j_slf4j_api_1_7_26.xml
/.idea/libraries/Maven__org_slf4j_slf4j_simple_1_7_26.xml
/.idea/libraries/Maven__org_springframework_spring_aop_5_2_0_RELEASE.xml
/.idea/libraries/Maven__org_springframework_spring_beans_5_2_0_RELEASE.xml
/.idea/libraries/Maven__org_springframework_spring_context_5_2_0_RELEASE.xml
/.idea/libraries/Maven__org_springframework_spring_context_support_5_2_0_RELEASE.xml
/.idea/libraries/Maven__org_springframework_spring_core_5_2_0_RELEASE.xml
/.idea/libraries/Maven__org_springframework_spring_expression_5_2_0_RELEASE.xml
/.idea/libraries/Maven__org_springframework_spring_instrument_5_2_0_RELEASE.xml
/.idea/libraries/Maven__org_springframework_spring_jcl_5_2_0_RELEASE.xml
/.idea/libraries/Maven__org_swinglabs_swingx_swingx_all_1_6_5_1.xml
/.idea/libraries/Maven__org_yaml_snakeyaml_1_23.xml
/.idea/misc.xml
/xml-UI/.idea/misc.xml
/.idea/modules.xml
/xml-UI/.idea/codeStyles/Project.xml
/xml-UI/.idea/runConfigurations.xml
/xml-UI/archive/java/sample/java/spring.iml
/.idea/vcs.xml
/xml-UI/.idea/vcs.xml
/xml-UI/xml-UI.iml
/.idea/yummy-xml-UI.iml
/.idea/libraries/Maven__io_opentelemetry_opentelemetry_sdk_trace_1_19_0.xml
/.idea/libraries/Maven__io_opentelemetry_opentelemetry_semconv_1_19_0_alpha.xml
/.idea/libraries/Maven__org_apache_commons_commons_collections4_4_4.xml
/.idea/libraries/Maven__org_jetbrains_kotlin_kotlin_stdlib_1_6_20.xml
/.idea/libraries/Maven__org_jetbrains_kotlin_kotlin_stdlib_common_1_5_31.xml
/.idea/libraries/Maven__org_jetbrains_kotlin_kotlin_stdlib_jdk7_1_5_31.xml
/.idea/libraries/Maven__org_jetbrains_kotlin_kotlin_stdlib_jdk8_1_5_31.xml
/.idea/libraries/Maven__org_springframework_spring_aop_5_3_23.xml
/.idea/libraries/Maven__org_springframework_spring_beans_5_3_23.xml
/.idea/libraries/Maven__org_springframework_spring_context_5_3_23.xml
/.idea/libraries/Maven__org_springframework_spring_context_support_5_3_23.xml
/.idea/libraries/Maven__org_springframework_spring_core_5_3_23.xml
/.idea/libraries/Maven__org_springframework_spring_expression_5_3_23.xml
/.idea/libraries/Maven__org_springframework_spring_jcl_5_3_23.xml
/.idea/libraries/Maven__org_yaml_snakeyaml_1_31.xml
/xml-UI/archive/java/sample/java/target/classes/target/classes/pom.xml
/xml-UI/archive/java/sample/java/target/classes/pom.xml
/xml-UI/archive/java/sample/java/target/classes/target/classes/spring.iml
/xml-UI/archive/java/sample/java/target/classes/spring.iml
/.idea/uiDesigner.xml
/xml-UI/archive/java/sample/java/target/classes/target/classes/target/classes/pom.xml
/xml-UI/archive/java/sample/java/target/classes/target/classes/target/classes/spring.iml
