<?xml version="1.0" encoding="UTF-8"?>

<testsuits xmlns:xsi='http://www.w3.org/2001/XMLSchema-instance'
           xsi:noNamespaceSchemaLocation='TestDefine.xsd' loop='2'> <!--loop用来表示执行次数, 如果没有这个属性，表示无限次执行-->
    <testcase-path>./test/testcase_查询/test_case.xml</testcase-path>
</testsuits>